:root {
    --bg-color: rgb(52, 52, 78);
    --text-color: whitesmoke;
    --soft-divisor-color: rgba(128, 128, 128, 0.884);
    --mild-dividor-color: rgba(128, 128, 128, 0.603);
    --primary-vivid-color: rgb(40, 11, 87);
    --primary-mild-color: rgb(70, 48, 104);
    
}

body, input, h1, h2, h3, h4, h5, h6, button, select, textarea {
    font-family: 'Roboto', 'Verdana', sans-serif;
}

body {
    display: grid;
    grid-template-columns: auto 3fr 2fr;
    grid-template-rows: 1fr;
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
    overflow: hidden;
    padding: 5px;
    box-sizing: border-box;
    background-color: var(--bg-color);
    color: var(--text-color);
    
}

h2 {
    font-weight: bold;
}

body > section {
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
    padding: 0.5rem;
    grid-template-rows: 1.75rem auto;
}

body > section:not(:first-child) {
    border-left: 2px ridge var(--soft-divisor-color);
}

.data {
    display: grid;
    grid-template-rows: 1.75rem 1fr 2rem;
    box-sizing: border-box;
    gap: .5rem
}

.data_area {
    /* Define uma altura máxima para o container para permitir o scroll */
    height: 100%;
    overflow-y: auto;
    border: 1px solid #ddd;
    border-radius: 8px;
    position: relative;
    background-color: #ffffff00;
    display: grid;
    grid-template-rows: 1fr 2rem;
}

table {
    max-width: 100%;
    border-collapse: collapse;
    height: fit-content;
    /* Garante que o layout da tabela seja consistente */
}

/* Estilização do Cabeçalho Fixo */
.data_area thead {
    height: 2rem;
    position: sticky;
    top: 0;
    text-align: left;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.1);
}

/* Estilização básica para o corpo */


.data_area tbody tr {
    height: 1.8rem;
}

table td, table th {
    text-align: center;
    padding: 10px;
    
}

table th {
    background: var(--primary-vivid-color);
    background-clip: padding-box;
    box-sizing: border-box;
}

table th:not(:last-child) {
    border-right: .1rem solid var(--mild-dividor-color);
}

.data_area tbody tr:nth-child(2n) {
    background-color: rgba(12, 30, 112, 0.384);
}

/* Estilização para os botões de controle abaixo da tabela */
.data_area_controls {
    position: sticky;
    bottom: 0;
    background-color: #58323200;
    display: flex;
    gap: 10px;
}

.settings {
    display: grid;
    grid-template-rows: 1.75rem 1fr 1.75rem;
    box-sizing: border-box;
    gap: .5rem;
}

.settings_form_field, .settings_form_field--button {
    display: flex;
    align-items: center;
    height: 2rem;
    margin-bottom: 1rem;
    /* border: .1rem solid var(--text-color); */
    box-sizing: border-box;
    border-radius: .5rem;
    background-color: #8589ac65;
    box-shadow: 0 5px 2px -1px var(--primary-vivid-color);
}

.settings_form_field--button {
    width: fit-content;
}

.settings_form_field > *, .settings_form_field--button > * {
    box-sizing: border-box;
    height: 100%;
    color: var(--text-color);
    font-size: 1rem;
}

.settings_form_field label, .settings_form_field--button label {
    min-width: 6rem;
    background-color: var(--primary-vivid-color);
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: .5rem;
    user-select: none;
}

.settings_form_field input, .settings_form_field--button input {
    width: 100%;
    background: none;
    border: none;
    padding: 0 .5rem;
}

.settings_form_field--button input[type="checkbox"] {
    width: 1.5rem;
    margin: 0px .2rem;
}

.settings_form_field select {
    background: none;
    border: none;
    padding: 0 .5rem;
    width: 100%;
    color: var(--text-color);
}


.settings_form_field input:focus, .settings_form_field--button input:focus {
    outline: none;
}

.preview {
    display: grid;
    grid-template-rows: 1.75rem 1fr 2rem;
    max-height: 100%;
    box-sizing: border-box;
    gap: .5rem
}


.preview_content {
    font-family: Consolas,"courier new";
    color: crimson;
    background-color: #f1f1f1;
    padding: 2px;
    font-size: 105%;
}

