body {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 1fr;
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
    overflow: hidden;
    padding: 5px;
    box-sizing: border-box;
    background-color: rgb(52, 52, 78);
    color: whitesmoke;
    font-family: 'Roboto', 'Verdana', sans-serif;
}

h2 {
    font-weight: bold;
}

body > section {
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
    padding: 0.5rem;
    grid-template-rows: 1.75rem auto;
}

body > section:not(:first-child) {
    
    border-left: 2px ridge rgba(128, 128, 128, 0.884);

}

.data {
    display: grid;
    grid-template-rows: 1.75rem 1fr 2rem;
    box-sizing: border-box;
    gap: .5rem
}

.data_area {
    /* Define uma altura máxima para o container para permitir o scroll */
    height: 100%;
    overflow-y: auto;
    border: 1px solid #ddd;
    border-radius: 8px;
    position: relative;
    background-color: #ffffff00;
    display: grid;
    grid-template-rows: 1fr 2rem;
}

table {
    max-width: 100%;
    border-collapse: collapse;
    height: fit-content;
    /* Garante que o layout da tabela seja consistente */
}

/* Estilização do Cabeçalho Fixo */
.data_area thead {
    height: 2rem;
    position: sticky;
    top: 0;
    background-color: #37526d; /* Cor de fundo é obrigatória para não sobrepor texto */
    z-index: 10;
    text-align: left;
    border-bottom: 2px solid #dee2e6;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.1); /* Sombra leve para dar profundidade */
}

/* Estilização básica para o corpo */


.data_area tbody tr {
    height: 1.8rem;
}

table td, table th {
    text-align: center;
    padding: 10px
}

.data_area tbody tr:nth-child(2n) {
    background-color: rgba(12, 30, 112, 0.384);
}

/* Estilização para os botões de controle abaixo da tabela */
.data_area_controls {
    position: sticky;
    bottom: 0;
    background-color: #58323200;
    display: flex;
    gap: 10px;
}